

.logo {
    display: inline-block;
    transform: scale(0.1);
    transform-origin: center; 
}



.third{
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center; 
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hand{
     display: inline-block;
    transform: scale(0.6);
    transform-origin: center; 
    translate: 0px 50px;

}


svg {
  display: block;
  width: 100vw;
  height: auto;
}

.path-follow{
    display: inline-block;
    transform-origin: center; 
}




.line-follow {
    display: inline-block;
    transform-origin: center; }



.boat path{
  transform:scale(0.5);
}

.boat {
  transform-box: fill-box;
  transform-origin: center;
}


#path-1{
  transform-origin:0px 0px;
  fill:yellow;
  stroke:yellow;

}

.pathLine{
  stroke:cyan;
  opacity:0.2;
}

.hover-scale {
  transform: translate(143.265px, 178.935px);
  transform-origin: center;
  transition: transform 2s ease;
}

.hover-scale:hover {
  transform: translate(143.265px, 178.935px) scale(1.2);
}
