#svgContainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    touch-action: pan-y; /* Allow vertical scroll */
  }
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}
